Hi #{user.firstname},
You recently attempted to create an account for #{app.name} with the following email address: #{user.email}.

In order to validate your email and proceed to the creation of your account, you must enter the following code (valid 48h):

#{token.emailCode}