Hi #{user.firstname},

You recently attempted to reset your password for #{app.name}.
In order to continue with the reset process you will need to enter the following code (valid 1 hour):

#{token.code}