Hi #{user.firstname},
You recently attempted to authenticate with your account in #{app.name} with the following email address: #{user.email}.

In order to confirm your authentication, please enter the following code  (valid 10 minutes):

#{token.code}